@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@mixin title {
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-weight: 500;
	line-height: 48px;
	color: $BLACK-col;
}

@mixin subtitle2 {
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	color: $BLACK-col;
}

@mixin subtitle3 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: $BLACK-col;
}

@mixin text {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 24px;
	color: $BLACK-col;
}
