@use "../../../Styles/Helpers/variables" as *;
@use "../../../Styles/Helpers/Mixinx" as *;

.commentsTable {
	width: 80%;
	text-align: left;
	margin-top: 13px;
	border-collapse: collapse;

	th,
	td {
		border-bottom: solid 1px black;
		padding: 3px 0;
	}
	td {
		a {
			@include text;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	table {
		font-size: 16px;
		line-height: 24px;
		width: 100%;

		thead {
			font-weight: 700;
			text-align: left;
		}
		tbody {
			font-weight: 400;
			text-align: left;
		}
	}
	tr th:first-child {
		width: 50%;
	}
	tr th:nth-child(2) {
		width: 40%;
	}
	tr th:last-child,
	td:last-child {
		text-align: right;
	}

	.delete {
		cursor: pointer;
		color: $err-col;
	}
}
.link {
	margin-top: 50px;
}

//mobil
@media (max-width: 768px) {
	.commentsTable {
		margin: auto;
		width: 90%;
	}
}
