@use "./Helpers/Mixinx" as *;
@use "./Helpers/variables" as *;

// import af font fra google
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Universal styling til alle elementer
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
	z-index: 100;
	background-color: $BLACK-col;
}

// sikre at alle tags har den korrekte skrift type
html,
body,
input,
textarea,
button,
select,
option,
p,
a,
li,
ul,
ol {
	font-family: "Poppins", sans-serif;
}

//fjer alt styling fra a tags
a {
	color: none;
	text-decoration: inherit; /* no underline */
}

//klassisk global styling til knapper
button {
	font-size: 1rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.title {
	@include title;
}

.subtitle2 {
	@include subtitle2;
}

.subtitle3 {
	@include subtitle3;
}

.text {
	@include text;
}

.errorMessage {
	color: $err-col;
	font-size: 15px;

	p {
		margin: 0;
		margin-bottom: 10px;
	}
}

.errorInput {
	border: 1px solid $err-col;
	background-color: #fdd !important;

	&:focus {
		background-color: #fdd !important;
	}
}
.successMessage {
	width: 100%;
	padding: 13px 23px;
	color: #fff;
	border-radius: 4px;
	background: linear-gradient(
		90deg,
		$ROSE-col,
		$BLUSH-col 50%,
		transparent 50%
	);
	background-size: 200% 100%;
	font-size: 1.2rem;
	margin: 10px 0;
	animation: backgroundSlide 2s forwards;
}

@keyframes backgroundSlide {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

//Standard knap styling til dette projekt.
.btnWrapper {
	display: flex;
	justify-content: end;
	margin-top: 16px;
	a {
		width: fit-content;
	}

	.styledBtn {
		padding: 4px 20px;
		gap: 10px;
		border-radius: 4px;
		font-family: "Poppins", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		color: #000;
		background-color: $BLUSH-col;
		border: transparent;
		box-shadow: 0px 4px 4px 0px #00000026;

		&:hover {
			animation-timing-function: ease-out;
			animation-duration: 300ms;
			background: $PINK-col;
			transform: scale(1.1);
		}
	}
}

.input {
	width: 317px;
	height: 32px;
	padding: 6px 16px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-family: "Poppins", sans-serif;
	background-color: $BG-col;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	&:active {
		border: 1px solid $GRAY-col !important;
	}
}

.iconWrapper {
	width: 84px;
	height: 84px;
	padding: 28px 25px;
	border-radius: 50%;
	border: 1px solid $ROSE-col;
	background-color: $BG-col;
	&:hover {
		background-color: $ROSE-col;
		border: 1px solid #59656f;
	}
}

.pageWrapper,
.innerWrapper,
main {
	background-color: transparent !important;
}

// .HomePageWrapper {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100vh;
// }

.pageWrapper {
	height: 100%;
	margin: 32px;
	max-width: 100%;

	h1 {
		@include title;
		margin: 32px 0;
	}
}
@media (max-width: 995px) {
	.pageWrapper {
		margin: 0 12px 50px 12px;
	}
}
.flex {
	display: flex;
}
.modal {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $BG-col;
	border-radius: 8px;
	div {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.iconsModal {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// background-color: green;

	.iconModal {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		.closeIcsonWrapper {
			position: absolute;
			width: 100%;
			right: 20px;
			top: 20px;
			text-align: end;
			.closeIcon {
				font-size: 25px;
				color: #fff;
				&:hover {
					color: $GRAY-col;
				}
			}
		}
		img {
			height: 80%;
			object-fit: cover;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(15, 14, 14, 0.793);
	z-index: 105;
}

@media (max-width: 767px) {
	.modal {
		width: 80%;
		height: 80%;
	}
}

//modal element styling
.modalContent {
	text-align: center;
	margin: auto;
	width: 80%;
	height: 80%;
	p:last-of-type {
		margin-top: 12px;
		a {
			@include text;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	button {
		margin-top: 16px;
	}
}
