@use "../../../Styles/Helpers/Mixinx" as *;
@use "../../../Styles/Helpers/variables" as *;

.contentWrapper {
	.slideShowWrapper {
		.line {
			position: absolute;
			margin-top: 386px;
			height: 32px;
			width: 100%;
			background-color: $BLACK-col;
		}
	}
	.estateCard {
		position: relative;
		top: 250px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;
		margin-top: -50px;
	}
	.estateCard a:nth-child(2) {
		margin-top: -41px;
	}
	.review {
		margin-top: 296px;
		width: 100%;
		z-index: 500;

		h1 {
			text-align: center;
		}
	}
	.review {
		.reviewContent {
			background-color: $BLUSH-col;
			margin-top: 16px;
			.article {
				// padding: 32px 128px;
				padding: 32px 18px;
				h2 {
					font-family: $font;
					font-size: 16px;
					font-weight: 700;
					line-height: 24px;
				}
				p {
					white-space: pre-line;
				}
				.date {
					margin-top: 9px;
				}
			}
		}
	}
	.emloyeesWrapper {
		padding: 96px 0;
		h1 {
			text-align: center;
			padding-bottom: 16px;
		}
		.staffSection {
			display: flex;
			justify-content: center;
			padding: 0 127px;

			gap: 32px;
		}
	}
}

//mobil
@media (max-width: 768px) {
	.contentWrapper {
		.slideShowWrapper {
			.line {
				margin-top: 472px;
			}
		}
		.estateCard {
			flex-direction: column;
		}
		.estateCard a:nth-child(2) {
			margin-top: 0;
		}
		.review {
			.reviewContent {
				.article {
					padding: 32px 18px;
					text-align: center;
				}
			}
		}
		.emloyeesWrapper {
			.staffSection {
				flex-direction: column;
			}
		}
	}
}
