@use "../../../Styles/Helpers/Mixinx" as *;
@use "../../../Styles/Helpers/variables" as *;

.contactCard {
	width: 241px;
	height: 404px;

	img {
		width: fit-content;
		height: 240px;
	}
	p {
		font-family: $font;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
	.employeeName {
		font-weight: 700;
	}
}

//mobil
@media (max-width: 768px) {
	.contactCard {
		width: 100%;
	}
}
